<div class="reviews" [ngStyle]="{ width: calculatedWidth }">
  <div class="count-box">
    <span #count>
      {{ currentIndex + 1 < 10 ? "0" : "" }}{{ currentIndex + 1 }}
    </span>
    <span>
      /
      {{ (data$ | async)?.length < 10 ? "0" : "" }}{{ (data$ | async)?.length }}
    </span>
  </div>
  <div class="heading">
    <h3 class="heading-3">Reviews</h3>
  </div>
  <ng-container *ngIf="data$ | async as data">
    <rv-review-list
      [data]="data"
      (calculatedWidth)="onCalculatedWidth($event)"
      (currentIndexChanged)="indexChanged($event)"
      (stabilizingElements)="onStabilize($event)"
      (btnDisabled)="onDisable($event)"
    ></rv-review-list>
  </ng-container>
</div>
<div class="detail">
  <rv-review [dataLength]="(data$ | async)?.length"></rv-review>
</div>
<div class="actions">
  <button (click)="next()" [disabled]="disabled || stabilizing">
    <svg class="icon icon-next">
      <use href="./assets/icon.svg#icon-chevron-right"></use>
    </svg>
  </button>
</div>
